.games-root {
    border: solid 1px white;
    background-color: rgb(23, 23, 23);
    padding: 50px;
}

.game-parent {
    border: solid 1px white;
    margin-bottom: 35px;
    /* background-image: -webkit-linear-gradient(310deg, #25292b, #000000); */
    background-color: #222425;
    position: relative;
    padding-bottom: 25px;
}

.game-player-parent {
    align-items: center;
    width: 480px;
    padding-left: 15px;
    align-items: end;
    margin-left: 60px;
    margin-bottom: 10px;
}

.game-player-parent:last-of-type {
    padding-bottom: 0px;
}

.game-player-parent:first-of-type, .game-player-parent:nth-of-type(3) {
    padding-left: 0px;
}

.game-players {
    width: 100%;
    margin-top: 25px;
}

.game-player-detailed {
    position: relative;
}

.game-player-hero {
    font-size: 20px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    letter-spacing: -2px;
    /* border-bottom: 2px solid black; */
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    height: 169px;
}

.game-hero-image {
    width: 210px;
    height: 123px;
    border: 2px solid black;
    border-bottom: none;
    /* border-radius: 5%; */
    /* position:absolute;
    top: 0; */
}

.game-item-image, .game-item-emptyslot {
    width: 60px;
    height: 44px;
    padding: 5px;
}

.game-player-items, .game-player-backpack {
    margin-left: 0px;
    width: 212px;
    padding-bottom: 0px;
    background: url(https://www.dotafire.com/css/img/bg-box-p.png) repeat scroll center top #0f0f0f;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.game-player-items {
    border: 3px solid transparent;
    border-image: -webkit-radial-gradient(center, ellipse cover, white, black);
    border-image-slice: 1;
    border-bottom: none;
    margin-top: 5px;
}

.game-item-emptyslot {
    background: -webkit-radial-gradient(10% 30%, #25292b, #000000);
    padding: 0;
    margin: 5px;
}

.game-player-backpack {
    background-color: rgb(31, 31, 31);
    border: 3px solid transparent;
    border-image: -webkit-radial-gradient(center, ellipse cover, white, black);
    border-image-slice: 1;
    /* border-top: none; */
    z-index: 20;
}

.game-player-neutral-parent {
    position: absolute;
    left: 214px;
    top: 1px;
    border: 3px solid transparent;
    border-image: -webkit-radial-gradient(center, ellipse cover, white, black);
    border-image-slice: 1;
    border-left: none;
    height: 143px;
    margin-top: 25px;
    width: 65px;
    background: url(https://www.dotafire.com/css/img/bg-box-p.png) repeat scroll center top #0f0f0f;
    padding-left: 5px;
}

.game-player-neutral {
    margin-top: 25px;
    border-radius: 100%;
    border: 2px solid lightgray;
    width: 45px;
    height: 40px;
}

.games-difficulty-header {
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 0px;
}

.game-player-shards {
    width: 65px;
    height: 49px;
    margin-left: 5px;
    border: 2px solid black;
}

.game-player-shards:first-of-type {
    margin-left: 0px;
}

.game-player-shards-parent {
    justify-content: space-between;
    background: url(https://www.dotafire.com/css/img/bg-box-p.png) repeat scroll center top #0f0f0f;
    margin-top: -3px;
}

.game-player-stats {
    margin-left: 5px;
}

.game-player-stats-parent {
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
    display: none;
}

.game-player-stats-parent.active, .game-rooms-root.active {
    display: flex;
}

.game-player-stats-number {
    width: 75%;
}

.game-player-expand-parent {
    position: absolute;
    left: 45%;
    top: 95%;
    background-color: rgb(66, 139, 202);
    padding: 5px;
    border-radius: 10px;
    font-weight: 900;
    border: 2px solid white;
}

.game-player-expand-parent.active {
    top: 99%;
}

.game-expansion-icon {
    margin-top: 3px !important;
}

.game-rooms-root {
    display: none;
    width: 75%;
    margin: 0 auto;
}

.game-rooms-parent {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.game-room-image {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.game-room-table {
    border: 1px solid #dddddd;
    padding-left: 5px;
    background-color: rgb(22, 34, 55);
    text-align: center;
}

.game-room-table-title {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: rgb(207, 207, 207);
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 183px;
}

th.game-room-table {
    min-width: 100px;
    height: 50px;
    background-color: #091020;
}

.game-room-table-row {
    width: 100%;
}