* {
  font-family: 'Open Sans';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 19, 20);
  color: white;
  padding: 0;
  margin: 0px 0px 25px 0px;
}

a {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  background-color: #091020;
  width: 1272px;
  margin: 0 auto;
  bottom: 0;
  padding: 25px;
  min-height: 1000px;
  border: solid 1px rgb(136, 127, 111);
  margin-top: 76px;
}

.bottomSpacing {
  padding-bottom: 25px;
}

.topSpacing {
  padding-top: 25px;
}

.rightSpacing {
  padding-right: 25px;
}

.rightMarginSpacing {
  margin-right: 25px;
}

.leftSpacing {
  padding-left: 25px;
}

.leftMarginSpacing {
  margin-left: 25px;
}

.leftAlignText {
  text-align: left;
}

.spacing {
  height: 200px;
}

.hidden {
  display: none !important;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexrow-nowrap {
  display:flex;
  flex-direction: row;
}

.center-align {
  align-items: center;
}

.cleanLink {
  color: white;
  text-decoration: none;
}

.guideGrid {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  min-height: 1000px;
  background-color: rgb(23, 23, 23);
}

.listedGuides {
  display: flex;
  min-height: 66px;
  background: url(https://www.dotafire.com/css/img/bg-box-p.png) repeat scroll center top #0f0f0f;
  color: white;
  border: solid 0.5px rgb(221, 220, 220);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.guideListParent {
  border-color: rgb(126, 116, 102);
}

.guideListDetails {
  display: flex;
  justify-content: space-between;
  padding-right: 3px;
}

.guideRating {
  margin-left: 1px;
}

.guideCreationDate {
  font-size: smaller;
  color: grey;
}

.guideListImage {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  margin: 5px;
  margin-top: 7px;
}

.thumbIcon {
  padding-top: 3px !important;
  margin-left: 3px !important;
  margin-right: 0px !important;
}

.guideListText {
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
}

.guideRatingPercentage {
  display: flex;
  margin-right: 50px;
}

.guideTitle {
  font-family: 'Open Sans';
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  line-height: 39px;
  position: relative;
  text-align: left;
  background-color: #152034;
  padding-left: 25px;
  border-bottom: solid 1px;
  text-align: center;
  font-weight: bolder;
}

.guideSection {
  display: inline-block;
  margin: 15px;
  padding: 13px;
  padding-bottom: 25px;
  position: relative;
  margin-right: 72px;
}

.guideSectionTitle {
  padding-bottom: 5px;
  color: #adadad;
  font-size: 17px;
  text-transform: uppercase;
}

.guideItems {
  z-index: 50;
  position: relative;
  justify-content: center;
}

.guideSectionBackground {
  background-image: linear-gradient(to bottom, rgb(23, 23, 23), rgba(38, 38, 38));
  ;
  position: absolute;
  bottom: 25px;
  height: 50px;
  width: 100%;
  z-index: 0;
}

.itemGroupContainer {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 50px;
}

.itemIcon {
  width: 80px;
  height: 64px;
  padding-right: 5px;
}

.itemCell {
  width: 80px;
  height: 64px;
  padding: 13px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.itemText {
  font-size: 10px;
  text-align: center;
  word-break: break-word;
}

.displayedGuide {
  border-color: rgb(126, 116, 102);
}

.levelGridParent {
  display: block;
  margin-left: 75px;
  margin-top: 50px;
}

.levelGridTitle {
  text-align: center;
  margin-left: -150px;
}

.abilityImage {
  width: 63px;
  height: 63px;
  position: absolute;
  top: 0;
  left: 0;
}

.abilityTitle {
  margin-bottom: 0px;
}

.skillRowParent {
  padding-left: 70px;
  position: relative;
}

.skillRow {
  width: 5px;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-column-gap: 5px;
  margin: 0px;
}

.levelCell {
  width: 35px;
  height: 35px;
  background-color: #152034;
  list-style-type: none;
}

.selectedAbility {
  background-color: rgb(0, 91, 43);
  color: white;
  text-align: center;
  height: 30px;
  width: 30px;
  margin: 2px;
  line-height: 1.8;
}

.talentTree {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse
}

.talentTableEls {
  border: 1px solid black;
  text-align: center;
}

.talentCell {
  padding: 15px;
  font-weight: bold;
  background-color: rgb(44, 49, 55);
  color: rgb(110, 120, 126);
  text-shadow: 2px 2px 5px black;
  width: 200px;
}

.talentSelected {
  color: #aa8a63;
  text-shadow: 2px 2px 5px rgb(111, 63, 25);
}

.talentHeader, .talentLevel0 {
  background-color: #041d45;
}

.talentLevel, .talentHeader {
  padding: 15px;
  font-weight: bolder;
}

.talentHeader {
  padding-left: 0;
}

.talentLevel1 {
  background-color: #082e6b;
}

.talentLevel2 {
  background-color: #0e4091;
}

.talentLevel3 {
  background-color: #1452b6;
}

.shardImage {
  width: 63px;
  height: 63px;
  position: absolute;
  top: 20%;
  left: 27px;
}

.createGuideShardImage {
  width: 63px;
  height: 63px;
  position: absolute;
  top: 15px;
  left: 27px;
}

.createShardRankingParent {
  min-height: 46px;
}

.shardRankingNumber {
  position: absolute;
  left: 5px;
  top: 33%;
}

.shardTitle {
  text-transform: uppercase;
  color: rgb(117, 102, 255);
  margin: 10px auto 0;
}

.shardStatsTitle {
  text-transform: uppercase;
  color: black;
  margin-left: 5px;
}

.shardRankingParent {
  padding-left: 110px;
  padding-bottom: 25px;
  padding-right: 20px;
  position: relative;
  background-image: linear-gradient(to right, rgb(60, 59, 65), rgba(27, 26, 32, 0));
  width: 80%;
  margin-left: 5%;
}

.shardRankingParent:first-of-type {
  border-top-left-radius: 50px;
}

.shardRankingParent:last-of-type {
  border-bottom-left-radius: 50px;
}

.shardRankings {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.shardComboDescription {
  width: 33%;
  padding: 50px;
}

.shardCombo {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, rgba(27, 26, 32, 0), rgba(60, 59, 65, 0.493));
  width: 90%;
  margin-left: 10%;
}

.shardComboCell {
  display: flex;
  flex-direction: row;
  position: relative;
  border-collapse: collapse;
  width: 77%;
  justify-content: space-evenly;
}

.shardComboShard {
  display: flex;
  flex-direction: column;
  margin: 25px;
  align-items: center;
}

.shardComboImage {
  width: 63px;
  height: 63px;
}

.shardComboTitle {
  font-size: 10px;
  text-align: center;
  word-break: break-word;
}

.heroDesc {
  margin: 25px;
  border-color: rgb(126, 116, 102);
}

.header {
  width: 100%;
  overflow: auto;
  background-color: rgb(22, 34, 55);
  display: flex;
  position: fixed;
  overflow: unset;
  top: 0;
  z-index: 999;
  height: 75px;
  justify-content: center;
}

.headerBar {
  padding-top: 28px;
  display: flex;
  position: relative;
}

.headerLinkParent {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.gamesearch-formik, .gamesearch-tab {
  /* background: #dcdedf; */
  background: white;
}

.gamesearch-tab {
  height: 0;
  position: absolute;
  width: 131px;
  border-radius: 12px;
  top: 21px;
  visibility: hidden;
  transition: all 0.8s ease;
  transition-delay: 0.4s;
  right: -6px;
}

.gamesearch-tab.active {
  height: 57px;
  visibility: visible;
  transition: all 0.8s ease;
}

.gamesearch-header-text {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: grey;
  cursor: pointer;
  z-index: 1;
  transition-delay: 0.6s;
}

.gamesearch-header-text.active {
  color: black;
  transition-delay: 0s;
}

.gamesearch-icon-parent {
  width: 25px;
  height: 25px;
}

.gamesearch-formik {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  padding-right: 25px;
  width: 500px;
  height: 0;
  position: absolute;
  z-index: 200;
  right: -6px;
  top: 63px;
  flex-wrap: nowrap;
  visibility: hidden;
  transition: all 0.8s ease;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.gamesearch-formik.active {
  visibility: visible;
  height: 100px;
  transition: all 0.8s;
  transition-delay: 0.36s;
}

.gamesearch-formik input {
  width: 200px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  margin-left: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.gamesearch-input-div {
  display: flex;
  flex-direction: row;
}

.gamesearch-formik button {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 42px;
  align-items: center;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: #232833;
  color: #4f5b66;
  font-size: 10pt;
  margin-left: -14px;
}

.gamesearch-formik select {
  /* background: #2b303b; */
  background: url(https://cdn3.iconfinder.com/data/icons/user-interface-169/32/chevron-bottom-512.png) no-repeat right #2b303b;
  background-size: 25px;
  background-position: top 15px right 8px;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  margin-left: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.gamesearch-formik span {
  /* position: absolute; */
  margin-left: 37px;
  font-size: 14px;
  margin-top: 5px;
}

.heroImages {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: grey;
  padding: 10px;
}

.headerLinks {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: grey;
  cursor: pointer;
}

.headerLinks.active {
  color: white;
}

.headerCurrentPage.active {
  width: 75%;
  background-color: #428BFF;
  height: 4px;
  margin: 0 auto;
}

.headerTitle {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  margin-right: 100px;
}

.heroPage {
  border: solid 1px;
}

.heroCurrentTab.active {
  width: 50%;
  /* background-color: #428BFF; */
  height: 4px;
}

.guideTabLinkParent {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
  min-height: 23px;
}

.guideTabLink {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: grey;
  cursor: pointer;
}

.guideTabLink.active {
  color: white;
  border-bottom: solid 4px #428BFF;
}

.heroHeader {
  position: relative;
  height: 600px;
  background-size: 100% 600px;
  background-repeat: no-repeat;
}

.heroTitle {
  font-size: 45px;
  font-family: "Trebuchet MS", sans-serif;
  text-shadow: 5px 5px 5px #000;
}

.heroCurrentViewTabs {
  padding-top: 10px;
}

.heroHeaderTabs {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  left: 25px;
}

.activeTab {
  background-color: #1f4377;
}

.activeGuide {
  background: white;
  color: black;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.heroListDiv {
  display: flex;
  flex-wrap: wrap;
}

.heroListTitle, .heroText, .allGuides {
  text-align: center;
}

.heroText {
  padding-bottom: 10px;
}

.heroListParent {
  width: 75%;
  margin: 0 auto;
}

.guideTabs {
  text-align: left;
  display: inline-block;
}

.heroListTitle {
  background-color: #152034;
  border-bottom: solid 1px;
  font-family: 'Open Sans';
  letter-spacing: -1px;
  line-height: 39px;
  position: relative;
  font-weight: bolder;
  margin: -19px -19px 30px -19px;
}

.heroStatsContainer {
  height: 100%;
  background-color: rgb(23, 23, 23);
  color: white;
}

.heroStats {
  margin: 0 auto;
}

.heroStatTitle {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: rgb(207, 207, 207);
}

.heroStatNumbers {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: rgb(207, 207, 207);
}

.heroStatsOverall {
  margin-bottom: 25px;
}

.mainPage {
  position: relative;
  height: 1238px;
  margin: -25px;
}

.mainPageTopBar {
  background-color: black;
  position: absolute;
  width: 1320px;
  height: 198px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding-left: 2px;
}

.recentcontent-container {
  width: 658px;
  height: 99%;
  background: url(https://www.dotafire.com/css/img/bg-box-p.png) repeat scroll center top #0f0f0f;
  border: solid 1px darkgrey;
  position: relative;
  display: flex;
  flex-direction: column;
}

.recentGuidesContainer {
  background-color: black;
  margin-top: -2px;
  z-index: 10;
}

.recentGuidesContainer a:first-of-type img {
  border-top: solid 1px rgb(132, 123, 108);
}

.recentGuidesContainer a:last-of-type img {
  padding-top: 1px;
}

.recentGuideIndiv {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(131, 122, 107);
  height: 45px;
}

.recentGuideIndiv div {
  padding-left: 10px;
}

.recentGuideImage {
  border: solid 1px rgb(132, 123, 108);
  border-bottom: none;
  border-top: none;
  width: 60px;
  height: 45px;
}

.recentGuideTitle {
  color: rgb(196, 183, 161);
  font-weight: bold;
}

.recentGuidesTabs {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

#recentguides-tabs-title , #recentgames-tabs-title {
  line-height: 23px;
  color: rgb(177, 170, 158);
  padding: 11px 0 10px 10px;
  font-weight: 900;
  margin-left: -25px;
}

#recentgames-tabs-title {
  padding-bottom: 7px;
}

.recentgames-root, .recentguides-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 16px;
}

.recentgames-tabs-parent, .recentguides-tabs-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 150px;
  justify-content: center;
}

.recentguides-tabs-parent {
  align-items: center;
}

.recentgames-tab, .recentguides-tab {
  background-color: rgb(11, 14, 14);
  opacity: 0.7;
  padding: 10px 15px 5px;
  z-index: 0;
  margin-right: 5px;
  width: 33%;
  text-align: center;
}

.recentgames-tab.active, .recentguides-tab.active {
  opacity: 1;
  border-bottom: 1px solid rgb(132, 123, 108);
}

.recentgames-games-difficulty {
  display: none;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;
  height: 138px;
  background-color: black;
}

.recentgames-games-difficulty.active {
  visibility: visible;
  display: flex;
}

.recentgames-game-parent {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px rgb(132, 123, 108);
  align-items: center;
  justify-content: space-between;
  width: 658px;
}

.recentgames-game-parent:nth-of-type(3), .recentGuideIndiv:nth-of-type(3) {
  border-bottom: none;
}

.recentgames-game-parent div.flexrow-nowrap {
  width: 327px;
  align-items: center;
  width: 368px;
  height: 45px;
}

.recentgames-game-parent div span {
  color: rgb(196, 183, 161);
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
  width: 45px;
}

.recentgames-bosses {
  width: 290px !important;
}

.recentgames-game-player {
  /* border: solid 1px rgb(132, 123, 108); */
  border-bottom: none;
  width: 58px;
  height: 35px;
  box-sizing: border-box;
  padding-right: 3px;
}

#placeholderGames {
  height: 100%;
  background-color: black;
  text-align: center;
  padding-top: 50px;
}

.mainPageSidebar {
  background-color: #14254b;
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: solid black 2px;
}

.mainPageNewsContainer {
  background-color: #091020;
  position: absolute;
  top: 200px;
  height: 972px;
  width: 1292px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 64px;
}

.mainPageNewsContainer::-webkit-scrollbar {
  display: none;
}

.changeLogItem {
  background-color: #111e3b;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient( to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
  margin-bottom: 25px;
}

.changeLogList {
  color: grey;
}

.changeLogTitle {
  padding-left: 25px;
  font-size: 21px;
  margin-bottom: 10px;
}

#changelogTitle {
  font-size: 25px;
  width: 1282px;
  background-color: black;
  padding: 5px;
  padding-right: 25px;
  padding-left: 15px;
  color: rgb(181, 186, 189);
  margin-left: -15px;
  margin-top: 0px;
  font-family: "Trebuchet MS", sans-serif;
  border-bottom: solid 3px rgb(36, 36, 36);
  position: absolute;
  top: 198px;
  z-index: 100;
  left: 15px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(22, 34, 55);
  height: 20px;
  justify-content: center;
  padding-bottom: 10px;
  transition: height 0.5s;
  z-index: 3000;
}

.footer.active {
  height: 150px;
  padding-bottom: 20px;
  transition: height 0.5s;
}

.steamBannerLink {
  width: 300px;
  height: 375px;
  border-radius: 10px;
  margin: 30px 30px 0px;
  position: relative;
  display: none;
}

.steamBannerLink.active, .discordIcon.active, .patreonSidebar.active {
  display: inline-block;
}

#steamWorkshopBanner {
  width: 300px;
}

.footerIcon {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.footerIcons {
  justify-content: space-evenly;
  width: 24%;
}

.footerIcons.active {
  display: none;
}

.discordIcon {
  width: 300px;
  height: 150px;
  background-color: #333;
  border-radius: 10px;
  margin: 10px 30px 10px;
  position: relative;
  display: none;
}

.discordImage {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.discordButton {
  background-color: #7289DA;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: 12px;
  left: 38px;
  border-radius: 5px;
  width: 75%;
  font-weight: bold;
}

.discordButton:hover {
  background-color: #4e66bb;
}

.discordDetailsParent {
  margin: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.discordText {
  margin-left: 20px;
}

.patreonSidebar {
  width: 300px;
  height: 100px;
  background-color: rgb(5, 45, 73);
  border-radius: 10px;
  margin: 30px 30px 10px;
  position: relative;
  display: none;
}

.patreonImage {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 15px;
  left: 11px;
  z-index: 1000;
}

#patreonSupportText {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: 20px;
  left: 76px;
  font-size: 25px;
  background-color: rgb(56, 178, 252);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  border-radius: 5px;
}

#patreonEndText {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: 50px;
  left: 85px;
}

.addItemIcon {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 3px grey dashed;
  background-clip: padding-box;
}

.additemText {
  margin-left: -11px;
}

.select-parent {
  margin-top: 25px;
}

.select-search__options {
  padding-left: 0px;
  overflow: visible;
  z-index: 10000;
}

.select-search__select {
  z-index: 10000;
}

.select-search {
  margin-top: 90px;
}

.hideText {
  font-size: 0px;
}

.errorMessage {
  color: red;
  text-align: center;
}

.centerText {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.dropDiv {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 33px;
  padding-right: 15px;
  position: relative;
  background-image: linear-gradient(to right, rgb(60, 59, 65), rgba(27, 26, 32, 0));
  border: solid 1px white;
  border-bottom: none;
}

.dropDiv:last-of-type {
  border-bottom: solid 1px white;
}

.shardRankingDetailsParent {
  margin-left: 100px;
}

.createGuidePage {
  border: solid 1px white;
  border-top: none;
  margin: 0 0 0 0;
  background-color: rgb(23, 23, 23);
}

.guideName, .newGuideHeaders, .guideHero {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.guideHero {
  width: 25%;
}

.createGuideHeroSelect {
  width: 65%;
  color: black;
  z-index: 200;
}

.newGuideHeaders {
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: solid 1px white;
}

.guideHeaderText {
  padding-right: 20px;
}

.createGuideSection {
  padding: 25px 100px 25px 100px;
  border-top: solid 1px white;
}

.shardRankingHeader {
  padding-bottom: 50px;
}

.createGuideLevelGridParent {
  margin-left: 125px;
}

.createGuideItemSection {
  width: 61%;
  height: 114px;
}

.removeItemButton {
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding-left: 5px;
  top: 5px;
  right: 5px;
  position: absolute;
}

.createItemsSection {
  background-color: rgb(12, 24, 41);
  display: inline-block;
  margin: 15px;
  padding: 13px;
  padding-bottom: 25px;
  position: relative;
}

.createGuideShardComboInput {
  background-color: rgb(12, 24, 41);
  display: flex;
  flex-direction: row;
  margin: 15px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 13px;
  padding-bottom: 25px;
  border: solid 1px white;
  border-bottom: none;
  position: relative;
}

.createGuideShardComboInput:last-of-type {
  border-bottom: solid 1px white;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 350px auto;
}

.shardComboRemoveButton {
  width: 75px;
  height: 25px;
  position: absolute;
  right: 0;
  margin: 10px;
}

.formikTextField {
  width: 300px;
  height: 100px;
}

.createGuideShardCombos {
  display: grid;
  grid-template-rows: auto auto;
}

.talentMiddle {
  width: 40px;
}

.statsParent {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.statTable {
  width: 100%;
  margin: 0 auto;
}

.shardStatsShardParent {
  width: 700px;
  height: 50px;
  border: solid 1px grey;
  border-collapse: collapse;
  padding: 3px;
  position: relative;
}

.shardStatsEl {
  border: solid 1px grey;
  border-collapse: collapse;
  text-align: center;
}

.shardStatsShard {
  display: flex;
  flex-direction: row;
}

.shardStatsText {
  display: flex;
  align-items: center;
}

.heroStatsImage {
  width: 80px;
  height: 60px;
  margin-right: 10px;
  border-radius: 7px;
}

.shardStatsImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50px;
  margin-top: 10px;
}

.statsTitle {
  text-transform: uppercase;
  color: rgb(117, 102, 255);
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.statsSelectors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 25px;
}

.statsHeader {
  border-top: solid 1px grey;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  width: 1198px;
}

.headerMargin {
  margin-right: 600px;
}

.statsSelect {
  margin-left: 10px;
}

.statsHeroFilterParent, .statsDifficultyFilterParent {
  width: 25%;
}

.statsTabs {
  display: flex;
  flex-direction: row;
  width: 450px;
}

.statTab {
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
  width: 50%;
}

.statTab.active {
  background: #fff;
  color: #000;
}

.tabContent {
  position: relative;
  width: 1200px;
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 980;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}

.paginationParent {
  justify-content: space-around;
  width: 90%;
  margin-bottom: 15px;
}

.hover-root {
  position: absolute;
  z-index: 5000;
  /* background: url(https://www.dotafire.com/css/img/bg-box-p.png) repeat scroll center top #0f0f0f; */
  background-color: #05070a;
  padding: 10px;
}

.hover-parent {
  background-color: #0f0f0f;
  border: solid 1px #3b3b3b;
  padding: 8px;
}

.hover-details {
  width: 80%;
  margin-left: 11px;
  padding: 8px;
  height: 95%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #212121), color-stop(100%, #0f0f0f));
  ;
}

.hover-shard-image {
  margin-left: 10px;
  width: 70px;
  height: 54px;
  border: 1px solid #70231b;
}

.hover-shard {
  width: 600px;
  min-height: 150px;
}

.hover-shard-name {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  color: silver;
  font-size: 25px;
}

.hover-shard-description {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #aaa;
  font-size: 17px;
  padding-top: 20px;
}

.hover-shard-ability {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #aaa;
  font-size: 15px;
}

.hover-player {
  background: url(https://www.dotafire.com/css/img/bg-box-p.png) repeat scroll center top #0f0f0f;
  width: 600px;
  min-height: 150px;
}

.hover-player-title {
  color: rgb(196, 183, 161);
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
}

.hover-player-items {
  align-items: center;
  margin-bottom: 25px;
  margin-top: 15px;
}

.hover-player-image {
  width: 264px;
  height: 168px;
  border: 2px solid black;
}

.hover-shard-parent {
  background-color: #0f0f0f;
  border: solid 1px #3b3b3b;
  padding: 8px;
  margin-bottom: 5px;
}