* {
  font-family: 'Open Sans';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 19, 20);
  color: white;
  padding: 0;
  margin: 0px 0px 25px 0px;
}

a {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background-color: #091020;
  width: 1272px;
  margin: 0 auto;
  margin-top: 77px;
  bottom: 0;
  padding: 25px;
  min-height: 1000px;
  border: solid 1px rgb(136, 127, 111);
}

.cleanLink {
  color: white;
  text-decoration: none;
}

.guideGrid {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
  min-height: 1000px;
}

.listedGuides {
  border-bottom: solid 2px grey;
  display: flex;
  min-height: 66px;
}

.guideListDetails {
  display: flex;
  justify-content: space-between;
  padding-right: 3px;
}

.guideRating {
  margin-left: 1px;
}

.guideCreationDate {
  font-size: smaller;
  color: grey;
}

.guideListImage {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  margin: 5px;
  margin-top: 7px;
}

.thumbIcon {
 padding-top: 3px !important;
 margin-left: 3px !important;
 margin-right: 0px !important; 
}

.guideListText {
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
}

.guideRatingPercentage {
  display: flex;
}

.guideTitle {
  font-family: 'Open Sans';
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  line-height: 39px;
  position: relative;
  text-align: left;
  background-color: #152034;
  padding-left: 25px;
  border-bottom: solid 1px;
  text-align: center;
  font-weight: bolder;
}

.guideSection {
  background-color: rgb(12, 24, 41);
  display: inline-block;
  margin: 15px;
  padding: 13px;
  padding-bottom: 25px;
}

.guideSectionTitle {
  padding-bottom: 5px;
}

.itemIcon {
  width: 80px;
  height: 64px;
  padding-right: 5px;
}

.itemCell {
  width: 80px;
  height: 64px;
  padding: 13px;
  display: inline-block;
  vertical-align: top;
}

.itemText {
  font-size: 10px;
  text-align: center;
  word-break: break-word;
}

.guideListParent {
  border-color: rgb(126, 116, 102);
  border-top: solid 1px;
  border-right: solid 1px;
}

.displayedGuide {
  border-color: rgb(126, 116, 102);
  border-top: solid 1px;
}

.guideTabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 35px;
  background-color: rgb(22, 34, 55);
  justify-content: space-evenly;
}

.guideTabLink {
  width: 100%;
  border: solid 1px;
  border-top: solid 0px;
  text-align: center;
}

.levelGridParent {
  display: block;
  margin-left: 75px;
  margin-top: 50px;
}

.levelGridTitle {
  text-align: center;
  margin-left: -150px;
}

.abilityImage {
  width: 63px;
  height: 63px;
  position: absolute;
  top: 0;
  left: 0;
}

.abilityTitle {
  margin-bottom: 0px;
}

.skillRowParent {
  padding-left: 70px;
  position: relative;
}

.skillRow {
  width: 5px;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-column-gap: 5px;
  margin: 0px;
}


.levelCell {
  width: 35px;
  height: 35px;
  background-color: #152034;
  list-style-type: none;
}

.selectedAbility {
  background-color: rgb(0, 91, 43);
  color: white;
  text-align: center;
  height: 30px;
  width: 30px;
  margin: 2px;
  line-height: 1.8;
}


.talentTree {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse
}

.talentTableEls {
  border: 1px solid black;
  text-align: center;
}

.talentCell {
  padding: 15px;
  font-weight: bold;
  background-color: rgb(44, 49, 55);
  color: rgb(110, 120, 126);
  text-shadow: 2px 2px 5px black;
  width: 200px;
}

.talentSelected {
  color: #aa8a63;
  text-shadow: 2px 2px 5px rgb(111, 63, 25);
}

.talentHeader, .talentLevel0 {
  background-color: #041d45;
}

.talentLevel, .talentHeader {
  padding: 15px;
  font-weight: bolder;
}

.talentHeader {
  padding-left: 0;
}

.talentLevel1 {
  background-color: #082e6b;
}

.talentLevel2 {
  background-color:#0e4091;
}

.talentLevel3 {
  background-color: #1452b6;
}

.shardImage {
  width: 63px;
  height: 63px;
  position: absolute;
  top: 25px;
  left: 17px;
}

.shardTitle {
  text-transform: uppercase;
  color: rgb(117, 102, 255);
}

.shardRankingParent {
  padding-left: 100px;
  padding-bottom: 25px;
  padding-right: 20px;
  position: relative;
  background-image: linear-gradient(to right, rgb(60, 59, 65), rgba(27, 26, 32, 0));
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  border-collapse: collapse;
}

.shardRankings, .shardComboParent {
  margin: 0px;
  margin-top: -35px;
}

.shardComboDescription {
  width: 33%;
  padding: 50px;
  border-right: solid 1px white;
}

.shardCombo {
  display: flex;
  flex-direction: row;
  border: solid 1px white;
  background-image: linear-gradient(to right,  rgba(27, 26, 32, 0), rgba(60, 59, 65, 0.493))
}


.shardComboCell {
  display: flex;
  flex-direction: row;
  position: relative;
  border-collapse: collapse;
  width: 77%;
  justify-content: space-evenly;
}

.shardComboShard {
  display: flex;
  flex-direction: column;
  margin: 25px;
  align-items: center;
}

.shardComboImage {
  width: 63px;
  height: 63px;
}

.shardComboTitle {
  font-size: 10px;
  text-align: center;
  word-break: break-word;
}

.heroDesc {
  margin: 25px;
  border-color: rgb(126, 116, 102);
}

.header {
  display: flex;
  width: 1272px;
  height: 80px;
  margin: 0 auto;
}

.headerDiv {
  width: 100%;
  overflow: auto;
  background-color: rgb(22, 34, 55);
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 999;
  height: 75px;
}


.headerBar {
  padding-top: 28px;
  display: flex;
}

.headerLinkParent {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.headerLinks {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: grey;
}

.headerLinks.active {
  color: white;
}

.headerCurrentPage.active {
  width: 75%;
  background-color: #428BFF;
  height: 4px;
  margin: 0 auto;
}

.headerTitle {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  margin-right: 100px;
}

.heroPage {
  border: solid 1px;
}


.heroHeader {
  display: flex;
}

.heroHeaderImage {
  margin: 20px;
  margin-top: 50px;
}

.activeTab {
  background-color: #1f4377;
}

.activeGuide {
  background-color: #093e7e;
}

.heroListDiv {
  display: flex;
  flex-wrap: wrap;
}

.heroListTitle, .heroText, .allGuides {
  text-align: center;
}

.heroText {
  padding-bottom: 10px;
}

.heroListParent {
  width: 75%;
  margin: 0 auto;
}

.heroListTitle {
  background-color: #152034;
  border-bottom: solid 1px;
  font-family: 'Open Sans';
  letter-spacing: -1px;
  line-height: 39px;
  position: relative;
  font-weight: bolder;
  margin: -19px -19px 30px -19px;
}

.mainPage {
  position: relative;
  height: 1100px;
  margin: -25px;
}

.mainPageTopBar {
  background-color: black;
  position: absolute;
  width: 987px;
  height: 198px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding-left: 2px;
}

.recentContentContainer {
  width: 491px;
  height: 99%;
  background: url(https://www.dotafire.com/css/img/bg-box-p.png) repeat scroll center top #0f0f0f;
  border: solid 1px darkgrey;
  position: relative;
  display: flex;
  flex-direction: column;
}

.recentGuidesContainer {
  background-color: black;
  margin-top: 0px;
  z-index: 10;
}

.recentGuideIndiv {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(131, 122, 107);
}

.recentGuideIndiv div {
  padding-left: 10px;
}

.recentGuideImage {
  border: solid 1px rgb(132, 123, 108);
  width: 60px;
  height: 45px;
}

.recentGuideTitle {
  color: rgb(196, 183, 161);
  font-weight: bold;
}

.recentGuidesTabs {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

#recentGuidesNewest {
  margin-left: 150px;
}

#recentGuidesTop {
  margin-left: 5px;
  margin-right: 10px;
}

#recentGuidesNewest, #recentGuidesTop {
  background-color: rgb(11, 14, 14);
  opacity: 0.7;
  padding: 15px 15px 5px;
  z-index: 0;
}

#recentGuidesTop.active, #recentGuidesNewest.active {
  opacity: 1;
  border-bottom: 3px solid rgb(132, 123, 108);
}

#recentGuidesTitle {
  line-height: 23px;
  color: rgb(177, 170, 158);
  padding: 11px 0 10px 10px;
  font-weight: 900;
}

#placeholderGames {
  height: 100%;
  background-color: black;
  text-align: center;
  padding-top: 50px;
}

.mainPageSidebar {
  background-color: #14254b;
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: solid black 2px;
}

.mainPageNewsContainer {
  background-color: #091020;
  position: absolute;
  top: 200px;
  height: 900px;
  width: 959px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 64px;
}
.mainPageNewsContainer::-webkit-scrollbar {
  display: none;
}

.changeLogItem {
  background-color: #111e3b;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
  margin-bottom: 25px;
}

.changeLogTitle {
  padding-left: 25px;
  padding-top: 15px;
  font-size: 21px;
  margin-bottom: 10px;
}

.changeLogList {
  color: grey;
}

#changelogTitle {
  font-size: 25px;
  width: 949px;
  background-color: rgb(78, 78, 78);
  padding: 5px;
  padding-right: 25px;
  padding-left: 15px;
  color:rgb(181, 186, 189);
  margin-left: -15px;
  margin-top: 0px;
  font-family: "Trebuchet MS", sans-serif;
  border-bottom: solid 3px rgb(36, 36, 36);
  border-top: solid 3px rgb(36, 36, 36);
  position: absolute;
  top: 199px;
  z-index: 100;
  left: 15px;
}

.steamworkshopIcon {
  width: 300px;
  height: 375px;
  background-color: white;
  border-radius: 10px;
  margin: 50px auto 0px;
}

.steamWorkshopImg {
  width: 300px;
  height: 375px;
}

.discordIcon {
  width: 300px;
  height: 150px;
  background-color: #333;
  border-radius: 10px;
  margin: 50px auto 10px;
  position: relative;
}

.discordImage {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.discordButton {
  background-color: #7289DA;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: 12px;
  left: 38px;
  border-radius: 5px;
  width: 75%;
  font-weight: bold;
}

.discordButton:hover {
  background-color: #4e66bb;
}

.discordDetailsParent {
  margin: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.discordText {
  margin-left: 20px;
}

.patreonSidebar {
  width: 300px;
  height: 100px;
  background-color: rgb(5, 45, 73);
  border-radius: 10px;
  margin: 50px auto 10px;
  position: relative;
}

.patreonImage {
  width: 75px;
  height: 75px;
  position:absolute;
  top: 15px;
  left: 11px;
  z-index: 1000;
}

#patreonSupportText {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: 20px;
  left: 76px;
  font-size: 25px;
  background-color: rgb(56, 178, 252);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  border-radius: 5px;
}

#patreonEndText {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: 50px;
  left: 85px;
}


.addItemIcon {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 3px grey dashed;
  background-clip: padding-box;
}

.additemText {
  margin-left: -11px;
}

.newGuideParent {
  margin-top: 50px;
}

.select-parent {
  margin-top: 25px;
}


.select-search__options {
  padding-left: 0px;
}

.hideText {
  font-size: 0px;
}

.errorMessage {
  color: red;
  text-align: center;
}

.createGuideLevelTitle {
  text-align: center;
  margin-left: -169px;
}

.centerText {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.dropDiv {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 33px;
  padding-right: 15px;
  position: relative;
  background-image: linear-gradient(to right, rgb(60, 59, 65), rgba(27, 26, 32, 0));
  border: solid 1px white;
  border-bottom: none;
}

.dropDiv:last-of-type {
  border-bottom: solid 1px white;
}

.shardRankingDetailsParent {
  margin-left: 100px;
}

.createGuidePage {
  border: solid 1px rgb(117, 102, 255);
  border-top: none;
  margin: 0 0 0 0;
  background-color: #101520;
}

.createGuideHeader {
  border-bottom: solid 1px;
  border-top: solid 1px;
  font-family: 'Open Sans';
  letter-spacing: -1px;
  line-height: 39px;
  position: relative;
  font-weight: bolder;
  margin: -1px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  color: rgb(117, 102, 255);
}

.guideName, .newGuideHeaders, .guideHero {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.newGuideHeaders {
  margin-top: -30px;
  justify-content: space-around;
  padding-bottom: 20px;
}

.guideHeaderText {
  padding-right: 20px;
}

.createGuideSection {
  padding: 25px 100px 25px 100px;
  border-top: solid 1px white;
}

.shardRankingHeader {
  padding-bottom: 50px;
}
.bottomSpacing {
  padding-bottom: 25px;
}
.topSpacing {
  padding-top: 25px;
}
.rightSpacing {
  padding-right: 25px;
}
.rightMarginSpacing {
  margin-right: 25px;
}
.leftSpacing {
  padding-left: 25px;
}
.leftMarginSpacing {
  margin-left: 25px;
}

.leftAlignText {
  text-align: left;
}

.createGuideLevelGridParent {
  margin-left: 125px;
}


.createGuideItemCell {
  width: 80px;
  height: 64px;
  padding: 13px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.removeItemButton {
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding-left: 5px;
  top: 5px;
  right: 5px;
  position: absolute;
}

.createItemsSection {
  background-color: rgb(12, 24, 41);
  display: inline-block;
  margin: 15px;
  padding: 13px;
  padding-bottom: 25px;
  position: relative;
}


.createGuideShardComboInput {
  background-color: rgb(12, 24, 41);
  display: flex;
  flex-direction: row;
  margin: 15px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 13px;
  padding-bottom: 25px;
  border: solid 1px white;
  border-bottom: none;
  position: relative;
}

.createGuideShardComboInput:last-of-type {
  border-bottom: solid 1px white;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 350px auto;
}

.shardComboRemoveButton {
  width: 75px;
  height: 25px;
  position: absolute;
  right: 0;
  margin: 10px;
}

.formikTextField {
  width: 300px;
  height: 100px;
}

.createGuideShardCombos {
  display: grid;
  grid-template-rows: auto auto;
}

.spacing {
  height: 200px;
}

.hidden {
  display: none;
}

.talentMiddle {
  width: 40px;
}

.statsParent {
  width: 100%;
  margin: 0 auto;
}
.statTable {
  width: 100%;
  margin: 0 auto;
}

.shardStatsShardParent {
  width: 700px;
  height: 50px;
  border: solid 1px grey;
  border-collapse: collapse;
  padding: 3px;
}

.shardStatsEl {
  border: solid 1px grey;
  border-collapse: collapse;
  text-align: center;
}

.shardStatsShard {
  display: flex;
  flex-direction: row;
}

.shardStatsText {
  display: inline-grid;
}

.heroStatsImage {
  width: 80px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50px;
}

.shardStatsImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50px;
}

.statsTitle {
  text-transform: uppercase;
  color: rgb(117, 102, 255);
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.statsSelectors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 25px;
}

.statsHeader {
  border-top: solid 1px grey;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  width: 1198px;
}

.headerMargin {
  margin-right: 600px;
}

.statsSelect {
  margin-left: 10px;
}

.statsHeroFilterParent, .statsDifficultyFilterParent {
  width: 25%;
}

.statsTabs {
  display: flex;
  flex-direction: row;
  width: 450px;
}

.statTab {
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
  width: 50%;
}

.statTab.active {
  background:#fff;
  color: #000;
}

.tabContent {
  position: relative;
  width: 1200px;
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 980;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}