* {
  font-family: 'Open Sans';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 19, 20);
  color: white;
  padding: 0;
  margin: 0px 0px 25px 0px;
}

a {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  /* background-color: #091020; */
  background-image: linear-gradient(to bottom, #091020, #0d1529);
  width: 1272px;
  margin: 0 auto;
  margin-top: 43px;
  bottom: 0;
  padding: 25px;
  min-height: 1000px;
  box-shadow:
  inset #555757 0 0 0 3px, 
  inset #484949 0 0 0 1px, 
  inset #2c2c2c 0 0 0 6px;
}

.cleanLink {
  color: white;
  text-decoration: none;
}

.guideGrid {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
  min-height: 1000px;
}

.listedGuides {
  border-bottom: solid 2px grey;
  display: flex;
  min-height: 66px;
}

.guideListDetails {
  display: flex;
  justify-content: space-between;
  padding-right: 3px;
}

.guideRating {
  margin-left: 1px;
}

.guideCreationDate {
  font-size: smaller;
  color: grey;
}

.guideListImage {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  margin: 5px;
  margin-top: 7px;
}

.thumbIcon {
 padding-top: 3px !important;
 margin-left: 3px !important;
 margin-right: 0px !important; 
}

.guideListText {
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
}

.guideRatingPercentage {
  display: flex;
}

.guideTitle {
  font-family: 'Open Sans';
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  line-height: 39px;
  position: relative;
  text-align: left;
  background-color: #152034;
  padding-left: 25px;
  border-bottom: solid 1px;
  text-align: center;
  font-weight: bolder;
}

.guideSection {
  background-color: rgb(12, 24, 41);
  display: inline-block;
  margin: 15px;
  padding: 13px;
  padding-bottom: 25px;
}

.guideSectionTitle {
  padding-bottom: 5px;
}

.itemIcon {
  width: 80px;
  height: 64px;
  padding-right: 5px;
}

.itemCell {
  width: 80px;
  height: 64px;
  padding: 13px;
  display: inline-block;
  vertical-align: top;
}

.itemText {
  font-size: 10px;
  text-align: center;
  word-break: break-word;
}

.guideListParent {
  border-color: rgb(126, 116, 102);
  border-top: solid 1px;
  border-right: solid 1px;
}

.displayedGuide {
  border-color: rgb(126, 116, 102);
  border-top: solid 1px;
}

.guideTabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 35px;
  background-color: rgb(22, 34, 55);
  justify-content: space-evenly;
}

.guideTabLink {
  width: 100%;
  border: solid 1px;
  border-top: solid 0px;
  text-align: center;
}

.levelGridParent {
  display: block;
  margin-left: 75px;
  margin-top: 50px;
}

.levelGridTitle {
  text-align: center;
  margin-left: -150px;
}

.abilityImage {
  width: 63px;
  height: 63px;
  position: absolute;
  top: 0;
  left: 0;
}

.abilityTitle {
  margin-bottom: 0px;
}

.skillRowParent {
  padding-left: 70px;
  position: relative;
}

.skillRow {
  width: 5px;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-column-gap: 5px;
  margin: 0px;
}


.levelCell {
  width: 35px;
  height: 35px;
  background-color: #152034;
  list-style-type: none;
}

.selectedAbility {
  background-color: rgb(0, 91, 43);
  color: white;
  text-align: center;
  height: 30px;
  width: 30px;
  margin: 2px;
  line-height: 1.8;
}


.talentTree {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse
}

.talentTableEls {
  border: 1px solid black;
  text-align: center;
}

.talentCell {
  padding: 15px;
  font-weight: bold;
  background-color: rgb(44, 49, 55);
  color: rgb(110, 120, 126);
  text-shadow: 2px 2px 5px black;
  width: 200px;
}

.talentSelected {
  color: #aa8a63;
  text-shadow: 2px 2px 5px rgb(111, 63, 25);
}

.talentHeader, .talentLevel0 {
  background-color: #041d45;
}

.talentLevel, .talentHeader {
  padding: 15px;
  font-weight: bolder;
}

.talentHeader {
  padding-left: 0;
}

.talentLevel1 {
  background-color: #082e6b;
}

.talentLevel2 {
  background-color:#0e4091;
}

.talentLevel3 {
  background-color: #1452b6;
}

.shardImage {
  width: 63px;
  height: 63px;
  position: absolute;
  top: 25px;
  left: 17px;
}

.shardTitle {
  text-transform: uppercase;
  color: rgb(117, 102, 255);
}

.shardRankingParent {
  padding-left: 100px;
  padding-bottom: 25px;
  padding-right: 20px;
  position: relative;
  background-image: linear-gradient(to right, rgb(60, 59, 65), rgba(27, 26, 32, 0));
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  border-collapse: collapse;
}

.shardRankings, .shardComboParent {
  margin: 0px;
  margin-top: -35px;
}

.shardComboDescription {
  width: 33%;
  padding: 50px;
  border-right: solid 1px white;
}

.shardCombo {
  display: flex;
  flex-direction: row;
  border: solid 1px white;
  background-image: linear-gradient(to right,  rgba(27, 26, 32, 0), rgba(60, 59, 65, 0.493))
}


.shardComboCell {
  display: flex;
  flex-direction: row;
  position: relative;
  border-collapse: collapse;
  width: 77%;
  justify-content: space-evenly;
}

.shardComboShard {
  display: flex;
  flex-direction: column;
  margin: 25px;
  align-items: center;
}

.shardComboImage {
  width: 63px;
  height: 63px;
}

.shardComboTitle {
  font-size: 10px;
  text-align: center;
  word-break: break-word;
}

.heroDesc {
  margin: 25px;
  border-color: rgb(126, 116, 102);
}

.header {
  display: flex;
  width: 50%;
  margin: 0 auto 0 614px;
}

.patreonImage {
  width: 50%;
  margin: 0 auto 0 314px;
}

.patreonImage {
  margin-top: 50px;
}

.headerDiv {
  width: 100%;
  overflow: auto;
  background-color: rgb(22, 34, 55);
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 999;
  height: 43px;
}


.headerLinkParent {
  padding-top: 8px;
  display: flex;
}

.headerLinks {
  margin-left: 20px;
}

.headerTitle {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-size: 18px;
  margin-right: 100px;
}

.heroPage {
  border: solid 1px;
}


.heroHeader {
  display: flex;
}

.heroHeaderImage {
  margin: 20px;
  margin-top: 50px;
}

.activeTab {
  background-color: #1f4377;
}

.activeGuide {
  background-color: #093e7e;
}

.heroListDiv {
  display: flex;
  flex-wrap: wrap;
}

.heroListTitle, .heroText, .mainText, .allGuides {
  text-align: center;
}

.mainText {
  padding-bottom: 15px;
}

.heroText {
  padding-bottom: 10px;
}

.heroListParent {
  width: 75%;
  margin: 0 auto;
}

.heroListTitle {
  background-color: #152034;
  border-bottom: solid 1px;
  font-family: 'Open Sans';
  letter-spacing: -1px;
  line-height: 39px;
  position: relative;
  font-weight: bolder;
  margin: -19px -19px 30px -19px;
}

.image-gallery {
  margin: 25px;
}

.mainPageTitle {
  font-size: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.addItemIcon {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 3px grey dashed;
  background-clip: padding-box;
}

.additemText {
  margin-left: -11px;
}

.newGuideParent {
  margin-top: 50px;
}

.select-parent {
  margin-top: 25px;
}


.select-search__options {
  padding-left: 0px;
}

.hideText {
  font-size: 0px;
}

.errorMessage {
  color: red;
  text-align: center;
}

.createGuideLevelTitle {
  text-align: center;
  margin-left: -169px;
}

.centerText {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.dropDiv {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 33px;
  padding-right: 15px;
  position: relative;
  background-image: linear-gradient(to right, rgb(60, 59, 65), rgba(27, 26, 32, 0));
  border: solid 1px white;
  border-bottom: none;
}

.dropDiv:last-of-type {
  border-bottom: solid 1px white;
}

.shardRankingDetailsParent {
  margin-left: 100px;
}

.createGuidePage {
  border: solid 1px rgb(117, 102, 255);
  border-top: none;
  margin: 0 0 0 0;
  background-color: #101520;
}

.createGuideHeader {
  border-bottom: solid 1px;
  border-top: solid 1px;
  font-family: 'Open Sans';
  letter-spacing: -1px;
  line-height: 39px;
  position: relative;
  font-weight: bolder;
  margin: -1px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  color: rgb(117, 102, 255);
}

.guideName, .newGuideHeaders, .guideHero {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.newGuideHeaders {
  margin-top: -30px;
  justify-content: space-around;
  padding-bottom: 20px;
}

.guideHeaderText {
  padding-right: 20px;
}

.createGuideSection {
  padding: 25px 100px 25px 100px;
  border-top: solid 1px white;
}

.shardRankingHeader {
  padding-bottom: 50px;
}
.bottomSpacing {
  padding-bottom: 25px;
}
.topSpacing {
  padding-top: 25px;
}
.rightSpacing {
  padding-right: 25px;
}
.rightMarginSpacing {
  margin-right: 25px;
}
.leftSpacing {
  padding-left: 25px;
}
.leftMarginSpacing {
  margin-left: 25px;
}

.leftAlignText {
  text-align: left;
}

.createGuideLevelGridParent {
  margin-left: 125px;
}


.createGuideItemCell {
  width: 80px;
  height: 64px;
  padding: 13px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.removeItemButton {
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding-left: 5px;
  top: 5px;
  right: 5px;
  position: absolute;
}

.createItemsSection {
  background-color: rgb(12, 24, 41);
  display: inline-block;
  margin: 15px;
  padding: 13px;
  padding-bottom: 25px;
  position: relative;
}


.createGuideShardComboInput {
  background-color: rgb(12, 24, 41);
  display: flex;
  flex-direction: row;
  margin: 15px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 13px;
  padding-bottom: 25px;
  border: solid 1px white;
  border-bottom: none;
  position: relative;
}

.createGuideShardComboInput:last-of-type {
  border-bottom: solid 1px white;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 350px auto;
}

.shardComboRemoveButton {
  width: 75px;
  height: 25px;
  position: absolute;
  right: 0;
  margin: 10px;
}

.formikTextField {
  width: 300px;
  height: 100px;
}

.createGuideShardCombos {
  display: grid;
  grid-template-rows: auto auto;
}

.spacing {
  height: 200px;
}

.hidden {
  display: none;
}

.talentMiddle {
  width: 40px;
}

.statsParent {
  width: 100%;
  margin: 0 auto;
}
.statTable {
  width: 100%;
  margin: 0 auto;
}

.shardStatsShardParent {
  width: 700px;
  height: 50px;
  border: solid 1px grey;
  border-collapse: collapse;
  padding: 3px;
}

.shardStatsEl {
  border: solid 1px grey;
  border-collapse: collapse;
  text-align: center;
}

.shardStatsShard {
  display: flex;
  flex-direction: row;
}

.heroStatsImage {
  width: 80px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50px;
}

.shardStatsImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50px;
}

.statsTitle {
  text-transform: uppercase;
  color: rgb(117, 102, 255);
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.statsSelectors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 25px;
}

.statsHeader {
  border-top: solid 1px grey;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  width: 1270px;
}

.statsSelect {
  margin-left: 10px;
}